

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>reservation</title>
</head>
<body id="dubre">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <nav class="navbar bg-light">
                    <div class="container">
                      <a class="navbar-brand" href="#">
                        <img src="../images/PANCITOS LOGO.jpg" alt="pancitos logo" width="65" height="30">
                      </a>
                    </div>
                  </nav>
              <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./aboutus.html">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a  class="nav-link" href="./menu.html">Menu</a>
                  </li>
                  <li class="nav-item">
                    <a href="./galery.html" class="nav-link ">Galery</a>
                  </li>
                  <li class="nav-item">
                    <a href="./reservation.html" class="nav-link ">Reservation</a>
                  </li>
                  <li class="nav-item">
                    <a href="./location.html" class="nav-link ">Location</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>






    </header>
    <main class="pri1">
        <div class="a">
            <h1 id="reservation2">MAKE A RESERVATION</h1>

            <h3 id="reservation1">(860) 527-3809</h3>
        
            
        </div>
       
    
        <form action="">
    
            <input type="time" name="time">
    
            <input type="text" name="first name" placeholder="FIRST name">
            <br>
            <br>
    
            <input type="date" name="date">
            <input type="text" name="second name" placeholder="SECOND name">
    
            <br>
            <br>
    
            <input type="number" name="number" placeholder="Number">
            <input type="email" name="email" placeholder="email">
    
            <br>
            <br>
    
            <textarea id="texti" name="texta" rows="4" cols="50" placeholder="message"></textarea>
    
            <br>
            <br>
    
            <input type="submit" class="center" value="MAKE A RESERVATION">
        </form>
        

    </main>
    

    <footer>
        <h2>SIGUENOS EN :</h2>
        <div>
            <ul>
                <li>
                    <a href="https://www.facebook.com/pancitostuttis" target="_blank"> <img src="../images/facebook.png" height="45" width="45 "alt="pancitos facebook"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/pancitos_hartford_bakery/" target="_blank"> <img src="../images/instagram.jpg" height="45" width="45" alt="pancitos instagram"></a>

                </li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
